In [1]:
import pandas as pd

In [2]:
csv_files = [
    '../sub_htc275_lb4560_top100_iou03_mask42.csv',
    'od_convert_0928_top1000.csv'
]
ens_weights = [0.6, 0.4]

In [3]:
dfs = [pd.read_csv(x) for x in csv_files]

In [4]:
dfs[0].head()

,ImageID,ImageWidth,ImageHeight,PredictionString
0,80155d58d0ee19bd,1024,683,/m/083wq 0.0001552 eNodkuuyqjAMRl+p8Xqq4gyIMFt...
1,52a76f3fe21185bf,1024,683,/m/04dr76w 0.0074179 eNqlU+ly2jAQfiVrdYAduykxD...
2,65e9da7c04c8e4cd,1024,682,/m/04yx4 0.0002104 eNpdkltzokAQhf/S9FAWbGVrH1L...
3,6d10fa21d93bd6cc,1024,682,/m/05r655 0.0006262 eNpFiUEKgDAMBL+0SSuCHgRBpJ...
4,0841dee573a875ca,1024,683,/m/05r655 0.0010084 eNp1kutOAjEQhV/pdLfcjMaoQZ...

In [5]:
dfs[1].head()

,ImageID,ImageWidth,ImageHeight,PredictionString
0,00000b4dcff7f799,1024,683,/m/07r04 0.8837 eNrLCjILTDCIMjUYBaNgFIyCUTBwIC...
1,00001a21632de752,1024,681,/m/03bt1vf 0.7607 eNoLCk2wTrVIsTEYBaOAFJASmWsM...
2,0000d67245642c5f,1024,683,/m/079cl 0.2479 eNrLyAgxjU0xyDMYBaNgFIyCUTACQU...
3,0001244aa8ed3099,1024,683,/m/0c9ph5 0.4180 eNqLic+wTrNOtTQYBaNgFAweEBZoC...
4,000172d1dd1adce0,1024,682,/m/09rvcxw 0.2363 eNoLCIq2TLVJtTAYBaNgeICsrHgT...

In [6]:
for i in range(1, len(dfs)):
    dfs[i] = dfs[i].set_index('ImageID')
    dfs[i] = dfs[i].reindex(index=dfs[0]['ImageID'])
    dfs[i] = dfs[i].reset_index()

In [7]:
dfs[1].head()

,ImageID,ImageWidth,ImageHeight,PredictionString
0,80155d58d0ee19bd,1024,683,/m/01kb5b 0.6820 eNqLiUgwTbbOsDQYBaNgFAwFkJ4UY...
1,52a76f3fe21185bf,1024,683,/m/0bjyj5 0.6689 eNpLS4q0DUkyCDc2GAWjYDiChEhbA...
2,65e9da7c04c8e4cd,1024,682,/m/0fszt 0.0350 eNoLTDfKTjKINzIYBaNgFIyCUTAKRs...
3,6d10fa21d93bd6cc,1024,682,/m/04yx4 0.8521 eNpLS822Sk4xSDcYBaNgBIOA3FgjAB...
4,0841dee573a875ca,1024,683,/m/0342h 0.6931 eNqLyky0TDDLtjMYBaOANBAbl2MKAM...

In [8]:
df_tmp = pd.read_csv('od_convert_0928_top1000.csv')
df_tmp.head()

,ImageID,ImageWidth,ImageHeight,PredictionString
0,00000b4dcff7f799,1024,683,/m/07r04 0.8837 eNrLCjILTDCIMjUYBaNgFIyCUTBwIC...
1,00001a21632de752,1024,681,/m/03bt1vf 0.7607 eNoLCk2wTrVIsTEYBaOAFJASmWsM...
2,0000d67245642c5f,1024,683,/m/079cl 0.2479 eNrLyAgxjU0xyDMYBaNgFIyCUTACQU...
3,0001244aa8ed3099,1024,683,/m/0c9ph5 0.4180 eNqLic+wTrNOtTQYBaNgFAweEBZoC...
4,000172d1dd1adce0,1024,682,/m/09rvcxw 0.2363 eNoLCIq2TLVJtTAYBaNgeICsrHgT...

In [10]:
df_tmp.loc[df_tmp.ImageID=='80155d58d0ee19bd']

,ImageID,ImageWidth,ImageHeight,PredictionString
51301,80155d58d0ee19bd,1024,683,/m/01kb5b 0.6820 eNqLiUgwTbbOsDQYBaNgFAwFkJ4UY...

In [11]:
for i in range(1, len(dfs)):
    print(i)

1